*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    position: relative;
}

/* START NAVBAR */

nav{
    position: sticky;
    top: 0;
    z-index: 20;

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
}

nav > a > img{
    width: 100px;
    height: 70px;
}

nav > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

nav > ul > li > a{
    color: #000;
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
}

#hamburger-button{
    display: none;
    color: #000;
    font-size: 25px;
}

.hamburger-menu{
    position: fixed;
    top: 95px;
    right: 0;
    width: 200px;
    height: 200px;
    z-index: 10;

    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    font-style: italic;
    font-weight: 700;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
    border-radius: 5px;
    list-style: none;
    gap: 5px;
}

.hamburger-menu > li > a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

@media (max-width: 800px) {
    nav{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    nav > ul{
        display: none;
    }

    #hamburger-button{
        display: block;
    }
}

/* END NAVBAR */

/* START HERO */
.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero > img{
    width: 100%;
}

.hero-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-overlay > p{
    padding-bottom: 20px;
    text-align: center;
    font-size: 35px;
    color: #fff;
    font-weight: 800;
}

.hero-overlay > div{
    display: flex;
    gap: 10px;
}

.hero-button-one{
    background-color: #954535;
    border: 2px solid #954535;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 800;
    font-size: 18px;
    transition: 0.4s;
}

.hero-button-two{
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    text-decoration: none;
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 800;
    font-size: 18px;
}

.hero-button-one:hover{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

@media (max-width: 600px) {
    .hero-overlay > p{
        font-size: 15px;
    }

    .hero-button-one,
    .hero-button-two{
        padding: 5px;
        font-size: 15px;
        width: 110px;
    }
}

/* END HERO */

/* START ABOUT */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e2e2e2;
}

.about > p{
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
}

.about-inline{
    padding-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.about-inline > div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.about-inline > div > i{
    font-size: 30px;
    border: 2px solid #954535;
    color: #954535;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.horisontal-line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 5px;
    background-color: #954535;
    border-radius: 10px;
}

/* END ABOUT */